// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    
    div {
        margin-top: 3%;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70%;
        margin-top: 3%;
    }
    
    a {
        text-decoration: none;
        font-size: 1.6rem;
        margin-right: 5%;
    }
}